{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec Symfony !</title>
</head>
<body>
<h1>Hello World !</h1>

<p>
    {# Dans une vue Twig, en considérant bien sûr que la variable advert_id est disponible #}

    RELATIVE: Lien vers l'annonce d'id {{ advert_id }}:
    <a href="{{ path('oc_platform_viewB', { 'id': advert_id}) }}">
        {{ path('oc_platform_viewB', { 'id': advert_id}) }}
    </a>
</p>
<p>
    {# Dans une vue Twig, en considérant bien sûr que la variable advert_id est disponible #}

    ABSOLUTE: Lien vers l'annonce d'id {{ advert_id }}
    <a href="{{ url('oc_platform_viewB', { 'id': advert_id}) }}">
        {{ url('oc_platform_viewB', { 'id': advert_id}) }}
    </a>
</p>
</body>
</html>